
AutostartCmdLineParam=yes
ConfigMode={{siebel_ConfigMode}}
ConfigTask=ConfigureGateway
current_section=
current_step=PrimaryLanguage
DoubleQuote="
EnterpriseCreateDefault={{ses_gateway_EnterpriseCreateDefault}}
EnterpriseServer={{siebel_EnterpriseServer}}
EnterpriseUseDefault={{ses_gateway_EnterpriseCreateDefault}}
first_section={{siebel_first_section}}
first_step={{siebel_first_step}}
Gateway={{ansible_eth0.ipv4.address}},{{ses_gtwysrvr_path}}/admin/siebns.dat
GatewayAddress={{ansible_eth0.ipv4.address}}:{{ses_gateway_NamesrvrPortPick}}
GtwyVersionString={{ses_responsefile_SiebelVersion}}
HostName={{ansible_eth0.ipv4.address}}
MainTask=Create
MSSQL_DRIVER_NAME={{ses_gateway_MSSQL_DRIVER_NAME}}
NameserverHostName={{ansible_eth0.ipv4.address}}
NamesrvrAutostart=true
NamesrvrPortPick={{ses_gateway_NamesrvrPortPick}}
NamesrvrStartnow=true
OperatingSystem={{siebel_OperatingSystem}}
OSDirSeparator=/
OSType={{siebel_OSType}}
PrimaryLanguage={{ses_responsefile_PrimaryLanguage}}
RequestComponent={{siebel_RequestComponent}}
RequestServer={{ansible_eth0.ipv4.address}}
SiebelBinDir={{ses_gtwysrvr_path}}/bin
SiebelDbsrvrRoot={{ses_path}}/dbsrvr
SiebelEncryption=
SiebelEnterprise={{siebel_EnterpriseServer}}
SiebelGateway={{ansible_eth0.ipv4.address}}:{{ses_gateway_NamesrvrPortPick}}
SiebelGatewayCfg={{ses_gtwysrvr_path}}/admin/siebns.dat::NSFILE:
SiebeLibDir={{ses_gtwysrvr_path}}/lib
SiebelInstalledDir={{ses_gtwysrvr_path}}
SiebelLanguage={{ses_responsefile_SiebelLanguage}}
SiebelLogArch=
SiebelLogDir=
SiebelLogEvents=
SiebelLogFile=
SiebelMaxThreads=
SiebelMsgDir={{ses_gtwysrvr_path}}/locale/{{ses_responsefile_PrimaryLanguage}}
SiebelPassword=
SiebelProgName=
SiebelRoot={{ses_gtwysrvr_path}}
SiebelRootParm=-r {{ses_gtwysrvr_path}}
SiebelTableOwner=
SiebelTempDir={{ses_gtwysrvr_path}}/temp
SiebelUser=
SiebelVersion={{ses_responsefile_SiebelVersion}}
TraceLevel=1
UnicodeEnable=
Vertical_Extension={{siebel_Vertical_Extension}}