
CFGSharedModeUsersDir={{ses_gtwysrvr_fs_path}}/userpref
ConfigMode={{siebel_ConfigMode}}
ConfigTask=ConfigureEnterprise
ConnectorDll={{ses_enterprise_ConnectorDll}}
ConnectString={{ses_enterprise_responsefile_ConnectString}}
CreateDisabled$$SiebCompGroups$$=FALSE
CreateDisabled$$SiebCompGroupsSIA$$=FALSE
current_section=
current_step=ModifyEntTask
CurrentRegistryRoot={{siebel_CurrentRegistryRoot}}
DatabasePlatform={{ses_enterprise_DatabasePlatform}}
DBConnectString={{ses_enterprise_responsefile_ConnectString}}
DBPlatformAttrib={{ses_enterprise_DatabasePlatform}}
DBTableOwnerParam={{ses_enterprise_responsefile_DBTableOwnerParam}}
DBUsername={{ses_responsefile_ContLoginUserName}}
DBUsernameParam={{ses_responsefile_ContLoginUserName}}
DBUserpasswd={{ses_responsefile_ContLoginUserName}}
DbXtractFileSystem={{ses_gtwysrvr_fs_path}}
DefaultDataSource=ServerDataSrc
DoubleQuote="
EIMFileSystem={{ses_gtwysrvr_fs_path}}
EnterpriseDesc={{ses_gateway_EnterpriseCreateDefault}} Enterprise
EnterpriseServer={{ses_enterprise_responsefile_ConnectString}}
EntVersionString={{ses_responsefile_SiebelVersion}}
EntVertical={{ses_enterprise_EntVertical}}
first_section={{siebel_first_section}}
first_step={{siebel_first_step}}
GatewayAddress={{ansible_eth0.ipv4.address}}:{{ses_gateway_NamesrvrPortPick}}
GatewayCreateDefaultRead={{ses_gateway_EnterpriseCreateDefault}}
GatewayLastEnterprise={{ses_enterprise_responsefile_ConnectString}}
GatewayUseDefaultRead={{ses_gateway_EnterpriseCreateDefault}}
GenNewDbFileSystem={{ses_gtwysrvr_fs_path}}
HostName={{ansible_eth0.ipv4.address}}
InstallDir={{ses_gtwysrvr_path}}
MainTask=Create
MaxCursorSize=-1
ModifyEntTask=
MSSQL_DRIVER_NAME={{ses_gateway_MSSQL_DRIVER_NAME}}
NameserverHostName={{ansible_eth0.ipv4.address}}
NamesrvrPort={{ses_gateway_NamesrvrPortPick}}
ODBCConnectStringParam={{ses_enterprise_responsefile_ConnectString}}_DSN
ODBCDataSource={{ses_enterprise_responsefile_ConnectString}}_DSN
ODBCEntDriver={{ses_gtwysrvr_path}}/lib/SEor825.so
OperatingSystem={{siebel_OperatingSystem}}
OSDirSeparator=/
OSType={{siebel_OSType}}
Password={{ses_responsefile_ContLoginUserName}}
PDbXtractFileSystem={{ses_gtwysrvr_fs_path}}
PrefetchSize=-1
PropagateGatewayAuthentication=true
RepAgentFileSystem={{ses_gtwysrvr_fs_path}}
RequestComponent={{siebel_RequestComponent}}
RequestServer={{ansible_eth0.ipv4.address}}
SecAdptDllName=sscfsadb
SecAdptMode=DB
SecAdptName=DBSecAdpt
ServerFileSystem={{ses_gtwysrvr_fs_path}}
SetConnectStringAttrib={{ses_enterprise_responsefile_ConnectString}}
SetEnterpriseDesc={{ses_gateway_EnterpriseCreateDefault}} Enterprise
SibelAnyDesc={{siebel_SibelAnyDesc}}
SiebCompGroups=ADM,Sales,eChannel,CallCenter,FieldSvc,Remote,RTSRemote,AsgnMgmt,CommMgmt,DandB,DataQual,DCommerce,EAI,eDocuments,IComp,ContCtr,MktgOM,MktgSrv,SiebAnywhere,S2S,Search,SAP,ORCL,ISS,Wireless,Workflow,HandheldSync,SalesHierSvc,FcstSvc,CreditAsgn,CRA,RTI,TaskUI,XMLPReport,MobileSync
SiebCompGroupsSIA=HandheldSyncSIS,eAutomotive,HTIM,LifeSciences,Communications,Loyalty,LoyaltyEngine,Hospitality,eConsumer,SISME,Fins,UCM,PublicSector
SiebelAnyDB={{ses_gtwysrvr_path}}/dbtempl/siebel.dbf
SiebelAnyDriver={{ses_gtwysrvr_path}}/SYBSsa90/lib/libdbodbc9.so
SiebelBinDir={{ses_gtwysrvr_path}}/bin
SiebelDbsrvrRoot={{ses_path}}/dbsrvr
SiebelEncryption=
SiebelEnterprise={{ses_enterprise_responsefile_ConnectString}}
SiebelGateway={{ansible_eth0.ipv4.address}}:{{ses_gateway_NamesrvrPortPick}}
SiebeLibDir={{ses_gtwysrvr_path}}/lib
SiebelInstalledDir={{ses_gtwysrvr_path}}
SiebelLanguage={{ses_responsefile_SiebelLanguage}}
SiebelLogArch=
SiebelLogDir=
SiebelLogEvents=
SiebelLogFile=
SiebelMaxThreads=
SiebelMsgDir={{ses_gtwysrvr_path}}/locale/{{ses_responsefile_PrimaryLanguage}}
SiebelPassword=
SiebelProgName=
SiebelRoot={{ses_gtwysrvr_path}}
SiebelRootParm=-r {{ses_gtwysrvr_path}}
SiebelTableOwner=
SiebelTempDir={{ses_gtwysrvr_path}}/temp
SiebelUser=
SiebelVersion={{ses_responsefile_SiebelVersion}}
SqlStyle=OracleCBO
TableOwner={{ses_enterprise_responsefile_DBTableOwnerParam}}
Trace=0
TraceDll={{ses_gtwysrvr_path}}/lib/odbctrac.so
TraceFile={{siebel_TraceFile}}
TraceLevel=1
TxnMergeFileSystem={{ses_gtwysrvr_fs_path}}
TxnProcFileSystem={{ses_gtwysrvr_fs_path}}
TxnRouteFileSystem={{ses_gtwysrvr_fs_path}}
UnicodeEnable=
UnixOracleDb2DriverName={{siebel_UnixOracleDb2DriverName}}
UseMS=False
UseOracleConnector=True
Username={{ses_responsefile_ContLoginUserName}}
Vertical_Extension=_{{ses_enterprise_EntVertical}}
