RESPONSEFILE_VERSION={{ses_install_patch_RESPONSEFILE_VERSION}}
s_shiphomeLocation={{ses_install_patch_s_shiphomeLocation}}
FROM_LOCATION={{ses_install_patch_FROM_LOCATION}}
s_topLevelComp={{ses_install_patch_s_topLevelComp}}
s_SiebelVersion={{ses_install_patch_s_SiebelVersion}}
ORACLE_HOME={{ses_install_patch_ORACLE_HOME}}
ORACLE_HOME_NAME={{ses_install_patch_ORACLE_HOME_NAME}}
b_isGatewayInstalled="false"
b_isSiebsrvrInstalled="true"
selectedLangs={{ses_install_patch_selectedLangs}}
DEINSTALL_LIST={"{{ses_install_patch_oracle_siebel_ses}}","{{siebel_patch_version}}"}
SHOW_DEINSTALL_CONFIRMATION=true
SHOW_DEINSTALL_PROGRESS=true