
AppServerHostName={{hostvars[groups['ihs_linux'][0]].ansible_fqdn}}
ConfigMode={{siebel_ConfigMode}}
ConfigTask=ConfigureSWSEPhysical
current_section=ConfigurephysicalSWSEUNIX
current_step=RestartWebServer
DeployedLanguage={{siebweb_responsefile_DeployedLanguage}}
DoubleQuote="
eappscfgExists={{siebweb_responsefile_eappscfgExists}}
eappsprofile={{siebweb_responsefile_eappsprofile}}
EnableVirtualHosts=true
EnterpriseServer=
first_section={{siebel_first_section}}
first_step={{siebel_first_step}}
GatewayAddress=
GatewayCreateDefaultRead=
GatewayUseDefaultRead=
HostName={{hostvars[groups['ihs_linux'][0]].ansible_fqdn}}
LoadBalancerOption={{siebweb_responsefile_LoadBalancerOption}}
LoadBalancingServer={{siebweb_responsefile_LoadBalancingServer}}
MainTask=Create
MSSQL_DRIVER_NAME={{ses_gateway_MSSQL_DRIVER_NAME}}
OperatingSystem={{siebel_OperatingSystem}}
OSDirSeparator=/
OSType={{siebel_OSType}}
RequestComponent={{siebel_RequestComponent}}
RequestServer=
RestartWebServer={{siebweb_responsefile_RestartWebServer}}
SCBPort={{siebweb_responsefile_SCBPort}}
SiebelBinDir={{siebweb_responsefile_siebweb_path}}/bin
SiebelDbsrvrRoot={{siebweb_responsefile_siebweb_path}}/dbsrvr
SiebelEncryption=
SiebeLibDir={{siebweb_responsefile_siebweb_path}}/lib
SiebelInstalledDir={{siebweb_responsefile_siebweb_path}}
SiebelLanguage={{siebweb_responsefile_SiebelLanguage}}
SiebelLogArch=
SiebelLogDir=
SiebelLogEvents=
SiebelLogFile=
SiebelMaxThreads=
SiebelMsgDir={{siebweb_responsefile_siebweb_path}}/locale/{{ses_responsefile_PrimaryLanguage}}
SiebelPassword=
SiebelProgName=
SiebelRoot={{siebweb_responsefile_siebweb_path}}
SiebelRootParm=-r {{siebweb_responsefile_siebweb_path}}
SiebelTableOwner=
SiebelTempDir={{siebweb_responsefile_SiebelTempDir}}
SiebelUser=
SiebelVersion={{siebweb_responsefile_SiebelVersion}}
SWSERoot={{siebweb_responsefile_siebweb_path}}
SWSEServer={{siebweb_responsefile_SWSEServer}}
TraceLevel=1
UnicodeEnable=
WebServerInstance={{siebweb_responsefile_WebServerInstance}}