
CACertFileName=
CertFileNameServer=
ConfigMode={{siebel_ConfigMode}}
ConfigTask=ConfigureServerLogical,ConfigureServerPhysical
ConnectorDll={{ses_enterprise_ConnectorDll}}
ConnectString={{ses_enterprise_responsefile_ConnectString}}
current_section={{siebel_server_current_section}}
current_step=Use{{siebel_server_current_section}}
CurrentRegistryRoot={{siebel_CurrentRegistryRoot}}
DatabasePlatform={{ses_enterprise_DatabasePlatform}}
DbSrvrConfigSplash=Warning: Before configuring the Siebel Server, make sure you have an existing Siebel Database available or have already performed the Install Database task in the Database Configuration Wizard.

DBUsername={{ses_responsefile_ContLoginUserName}}
DBUserpasswd=POplp1G2xesBGOYAAA==
DeployedLanguage={{siebweb_responsefile_DeployedLanguage}}
DisableAllSiebCompGroups=ADM,Sales,eChannel,CallCenter,FieldSvc,Remote,RTSRemote,AsgnMgmt,CommMgmt,DandB,DataQual,DCommerce,EAI,eDocuments,IComp,ContCtr,MktgOM,MktgSrv,SiebAnywhere,S2S,Search,SAP,ORCL,ISS,Wireless,Workflow,HandheldSync,SalesHierSvc,FcstSvc,CreditAsgn,CRA,RTI,TaskUI,XMLPReport,MobileSync
DisableAllSiebCompGroupsSIA=HandheldSyncSIS,eAutomotive,HTIM,LifeSciences,Communications,Loyalty,LoyaltyEngine,Hospitality,eConsumer,SISME,Fins,UCM,PublicSector
DoubleQuote="
EnableCompGroupsSIA=TaskUI,Workflow,PublicSector,XMLPReport
EnableOpenUI=Yes
EnableOpenUIOpt=True
EnterpriseServer={{ses_enterprise_responsefile_ConnectString}}
first_section={{siebel_first_section}}
first_step={{siebel_first_step}}
GatewayAddress={{ses_host}}:{{ses_gateway_NamesrvrPortPick}}
GatewayCreateDefaultRead={{ses_gateway_EnterpriseCreateDefault}}
GatewayUseDefaultRead={{ses_gateway_EnterpriseCreateDefault}}
Host={{siebel_Host}}
HostName={{siebel_Host}}
InstallDir={{siebel_siebsrvr}}
KeyFileName=
LocalSynchMgrPort={{siebel_server_LocalSynchMgrPort}}
MainTask=Create
MaxCursorSize=-1
ModifyServerTask=
MSSQL_DRIVER_NAME={{ses_gateway_MSSQL_DRIVER_NAME}}
NameserverHostName={{ses_host}}
NamesrvrPort={{ses_gateway_NamesrvrPortPick}}
NSServerHostname={{ses_host}}
ODBCDataSource={{ses_enterprise_responsefile_ConnectString}}_DSN
ODBCEntDriver={{siebel_siebsrvr}}/lib/SEor825.so
OperatingSystem={{siebel_OperatingSystem}}
OSDirSeparator=/             
OSType={{siebel_OSType}}
Password={{ses_responsefile_ContLoginUserName}}
PrefetchSize=-1
PrimaryLanguage={{ses_responsefile_PrimaryLanguage}}
RequestComponent={{siebel_RequestComponent}}
RequestServer={{siebel_host}}
SCBPort={{siebweb_responsefile_SCBPort}}
ServerLang={{ses_responsefile_PrimaryLanguage}}
SetNSServerRootDir={{siebel_siebsrvr}}
SetServerVersionString={{ses_responsefile_SiebelVersion}}
SetSiebelServerDesc={{siebel_SiebelServerDesc}} 
SetSiebRemotePortWorkaround={{siebel_server_LocalSynchMgrPort}}
SibelAnyDesc={{siebel_SibelAnyDesc}}
SiebelAnyDB={{siebel_siebsrvr}}/dbtempl/siebel.dbf
SiebelAnyDriver={{siebel_siebsrvr}}/SYBSsa90/lib/libdbodbc9.so
SiebelBinDir={{siebel_siebsrvr}}/bin
SiebelDbsrvrRoot={{ses_path}}/dbsrvr
SiebelEncryption=
SiebelEnterprise={{ses_enterprise_responsefile_ConnectString}}
SiebelGateway={{ses_host}}:{{ses_gateway_NamesrvrPortPick}}
SiebeLibDir={{siebel_siebsrvr}}/lib
SiebelInstalledDir={{siebel_siebsrvr}}
SiebelLanguage={{ses_responsefile_SiebelLanguage}}
SiebelLogArch=
SiebelLogDir={{siebel_siebsrvr}}/enterprises/{{ses_enterprise_responsefile_ConnectString}}/pocaom1/log
SiebelLogEvents=
SiebelLogFile=
SiebelMaxThreads=
SiebelMsgDir={{siebel_siebsrvr}}/locale/enu
SiebelPassword=
SiebelProgName=
SiebelRoot={{siebel_siebsrvr}}
SiebelRootParm=-r {{siebel_siebsrvr}}
SiebelServer=pocaom1
SiebelServerDesc={{siebel_SiebelServerDesc}}
SiebelServerRoot={{siebel_siebsrvr}}
SiebelTableOwner=
SiebelTempDir={{siebel_siebsrvr}}/temp
SiebelUser=
SiebelVersion={{ses_responsefile_SiebelVersion}}
SqlStyle={{ses_enterprise_DatabasePlatform}}
SyncEndTime={{siebel_SyncStartTime}}
SyncPlannedCompletion={{siebel_SyncStartTime}}
SyncStartTime={{siebel_SyncStartTime}}
TableOwner={{ses_enterprise_responsefile_DBTableOwnerParam}}
tempdir={{siebel_siebsrvr}}/temp
Trace=0
TraceDll={{siebel_siebsrvr}}/lib/SEtrc25.so
TraceFile={{siebel_TraceFile}}
TraceLevel=1
UnicodeEnable=
UnixOracleDb2DriverName={{siebel_UnixOracleDb2DriverName}}
UseOracleConnector=true
Username={{ses_responsefile_ContLoginUserName}}
Vertical_Extension={{siebel_Vertical_Extension}}
