RESPONSEFILE_VERSION={{siebweb_install_RESPONSEFILE_VERSION}}
s_shiphomeLocation={{siebweb_install_s_shiphomeLocation}}
FROM_LOCATION={{siebweb_install_FROM_LOCATION}}
s_topLevelComp={{siebweb_install_s_topLevelComp}}
s_SiebelVersion={{siebweb_install_s_SiebelVersion}}
s_installType={{siebweb_install_s_installType}}
ORACLE_HOME={{siebweb_install_ORACLE_HOME}}
ORACLE_HOME_NAME={{siebweb_install_ORACLE_HOME_NAME}}
b_isGatewayInstalled="false"
b_isSiebsrvrInstalled="false"
b_isDBInstalled="false"
b_isEAIInstalled="false"
selectedLangs={{siebweb_install_selectedLangs}}
s_txt_seedValue={{siebweb_install_s_txt_seedValue}}
DEINSTALL_LIST={"{{siebweb_install_oracle_siebel_eappweb}}","{{siebel_version}}"}
SHOW_DEINSTALL_CONFIRMATION=true
