RESPONSEFILE_VERSION={{siebweb_install_patch_RESPONSEFILE_VERSION}}
s_shiphomeLocation={{siebweb_install_patch_s_shiphomeLocation}}
FROM_LOCATION={{siebweb_install_patch_FROM_LOCATION}}
s_topLevelComp={{siebweb_install_s_topLevelComp}}
s_SiebelVersion={{siebweb_install_patch_s_SiebelVersion}}
ORACLE_HOME={{siebweb_install_patch_ORACLE_HOME}}
ORACLE_HOME_NAME={{siebweb_install_patch_ORACLE_HOME_NAME}}
b_isGatewayInstalled="false"
b_isSiebsrvrInstalled="true"
selectedLangs={{siebweb_install_patch_selectedLangs}}
DEINSTALL_LIST={"{{siebweb_install_oracle_siebel_eappweb}}","{{siebel_patch_version}}"}
SHOW_DEINSTALL_CONFIRMATION=true
SHOW_DEINSTALL_PROGRESS=true